.articles-item {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.articles-item img {
  display: block;
  height: 300px;
}

.articles-miniature {
  max-width: 448px;
}

.articles-card h2 {
  .set-font-Ubuntu-bold();
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #777777;
  margin: 0;
  margin-bottom: 20px;
}

.articles-card p {
  .set-font-Montserrat-regular();
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
  margin-bottom: 5px;
}

.articles-card {
  padding-top: 40px;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.articles-desc {
  margin-bottom: 22px;
  margin-top: auto;
}

.articles-footer {
  border-top:1px solid grey;
  margin: 0 -40px;
}

.articles-date svg {
  fill: #717171;
}
