.page-header {
  width: 545px;
  background-color: @color-menu;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: 36px;
  padding-top: 124px;
  justify-content: space-between;
  min-width: 320px;
}

.page-header__logo {

  background-color: @green;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page-header__logo img {
 padding: 35px 0;
}
.site-list__item--current {
  background-color: @color-current;
}

.page-header-wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
}
