.site-list {
  .reset-ul();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;

}

.site-list__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.site-list__link {
  .set-font-Montserrat-regular();
  font-size: 20px;
  line-height: 60px;
  color: @white;
  text-transform: uppercase;
}
