.social {

}

.social__list {
  .reset-ul();
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item svg {
  fill: @white;

  &:hover {
    fill: #33cc99;
  }

  &:active {
    fill: #33cc99;
    opacity: 0.5;
  }


}

.social__link {
  cursor: pointer;
}
