.social {
  margin-bottom: 2.5vh;
}

.social__list {
  .reset-ul();
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 30px;
}

.social__item svg {
  fill: @white;
}

.social__link {
  cursor: pointer;
}
