.welcome-wrapper {
  position: relative;
  width: 800px;
  margin-top: -29px;
  display: flex;
  flex-direction: column;


  &::after {
    content: "";
    display: flex;
    position: absolute;
    background-image: url("../img/shape-index.png");
    background-repeat: no-repeat;
    background-size: 926px 287px;
    width: 926px;
    height: 287px;
    z-index: 1;
    margin-left: -65px;
    margin-top: -85px;
  }
}


.welcome__title {
  .set-font-Ubuntu-bold();
  font-size: 70px;
  line-height: 28px;
  color: @white;
  z-index: 2000;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.welcome__text {
  .set-font-Ubuntu-bold();
  font-size: 36px;
  line-height: 28px;
  color: @white;
  text-transform: capitalize;
  z-index: 2000;
}

.welcome-hi {
  position: absolute;
  width: 230px;
  height: 80px;
  border: 7px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -34px;
  margin-top: -200px;

}

.welcome p {
  font-size: 50px;
  .set-font-Ubuntu-bold();
  color: rgb(255, 255, 255);
  line-height: 0.56;
}

